@font-face {
    font-family: 'Mono';
    src: url('../font/Mono.woff2') format('woff2'),
         url('../font/Mono.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/robotoregular.woff2') format('woff2'),
         url('../font/robotoregular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../font/robotobold.woff2') format('woff2'),
         url('../font/robotobold.woff') format('woff');
    font-style: bold;
}

body {
    background-color: transparent;
    margin: 0 0 0 0;
    cursor: crosshair;
}

html{
    cursor: crosshair;
}

head {
    position: absolute;
    display: block;
    z-index: +111;
    
}



img.center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.responsive{
  max-width:100%;
  max-height:100%;
}

#wiggle {
    transition:3s;
    animation-duration: 3s;
    animation-name: wiggle;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#wiggle:hover{
    animation-play-state:running;
}
@keyframes wiggle {
    0%  { transform: rotate(0deg)}
    25% { transform: rotate(-30deg)}
    50% { transform: rotate(0deg)}
    75% { transform: rotate(30deg)}
    50% { transform: rotate(0deg)}
    
}

.box {
    position: absolute;
    display: block;
    overflow-y: scroll;
    top: 15vh;
    bottom: 15%;
}

.unlock{
    display: block;
    overflow-y: scroll;
    position:inherit;
    
    
}

.squareleft {
    position: relative;
    display:block;
    border: 1px solid black;
    padding: 1% 1% 1% 1%; 
    overflow: scroll;

}

.squareright {
    top: 14vh;
    display:block;
    border: 1px solid black;
    padding: 1% 1% 1% 1%; 
    overflow: scroll;
    margin-right: 1%;
    
}
.newsletter {
    position: relative;
    display:block;
    border: 1px solid black;
    padding: 1% 1% 1% 1%; 
    overflow: scroll;
    margin-left: 30%;
    margin-right: 30%;

}

.left {
    top: 14vh;
    left: 1%;
    margin-right: 71%;
    position: fixed;
    display: block;
    overflow: scroll;
}

.middle{
    top: 15vh;
    left : 31%;
    right : 31%;
    position: absolute;
    display: block;
    text-align: center;
    overflow: scroll;
    background-color: transparent;
}

.right{ 
    top: 14vh;
    left : 71%;
    right : 1%;
    position: absolute;
    display: block;
    overflow: scroll;
    z-index: -1;
}


.button{
    text-align: center;
    border: 0.5px solid black;
    border-radius: 5%;
    background-color: lightgray;
    color: black;
    font-family: 'Mono';
    padding: 1%;
    margin: auto;
    display: flex;
}



.hl {
    border: 0.5px solid black;
    position: absolute;
    top: 14vh;
    width: 100%;
}

.vl1 {
    border-left: 1px solid black;
    position: absolute;
    margin-left: 30%;
    height: 100%;
    top: 14vh;
    display: block;
}

.vl2 {
    border-left: 1px solid black;
    position: absolute;
    margin-left: 70%;
    height: 100%;
    top: 14vh;
    display: block;
}



.asterisk {
    color: red;
    }

h1 {
    font-family: 'robotobold';
    font-size: 80%;
    color: black;
}

h2 {
    font-family: 'robotoregular';
    font-size: 80%;
    margin-right: 50%;
    margin-left: 5%;
}

h3{
    font-family: 'robotoregular';
    font-size: 80%;
    font-weight: lighter;

}

p{
    font-size: 80%;
    font-family:'Mono';
}

p1:hover{
    color: blue;
}

a:link {
  color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
color: blue;
    cursor: crosshair;
}



#footer{
    font-family: 'Mono';
    left: 1%;
    bottom: 1%;
    font-size: 2vh;
    position: fixed;
    z-index:10;
}



#footerr{
    font-family: 'Mono';
    bottom: 1%;
    font-size: 2vh;
    position: fixed;
  left: 46%;
}

i:hover{
    font-style: normal;
}





.acheter {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    -webkit-appearance: none;
    border-radius: 0px;
    display: block;
    font-family: Mono; 
    margin-left: 5%; 
    font-size: 2vh 
}

.acheter:hover{
    color: black;
}



#header{
    position: fixed;
    display: inline-block;
    z-index: 10;
    background-color: white;
}

#header:hover{
color:  blue;
}


.buy {
    padding: 5px;
    margin-left: 5%;
    color: blue;
    border: 1px solid blue;
    background-color: white;
    -webkit-appearance: none;
    border-radius: 0px;
    display: block;
    font-family: Mono; 
    font-size: 2vh;
    cursor: grab;
}

.buy:hover{
    border-color: white;
    color: black;
}


/* Bouton "Voir le panier" */
#open-cart {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border: 1px solid blue;
  padding: 5px;
  font-family: Mono; 
  font-size: 2vh;
  cursor: grab;
  transition: background 0.3s;
  z-index: 1000;
}
#open-cart:hover {
  background-color: white;
  color: blue;
}

/* Fenêtre modale */
.modal {
  display: none; /* cachée par défaut */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
}

/* Contenu de la modale */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}

/* Bouton fermer (croix) */
.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: red;
}

/* Liste panier */
#cart li {
  margin: 8px 0;
  font-family: Arial, sans-serif;
}
#cart input[type="number"] {
  width: 50px;
}


#imageradio{
    display: inline-block;
    height: 20vh;
    transition: transform .2s;
    padding-right: 1%;
    padding-right: 1%;
  
    
}
#imageradio:hover {
  transform: scale(2);
}




a.press{
    color:#696969;
}

a.press:hover{
    color: blue;
}

a.pressvideo{
    color: blue;
}

a.pressvideo:hover{
    color: #696969;
}


.dropbtn{
    color: black;
    font-family: 'robotobold';
    font-weight: bold;
    font-size: 4vh;
  
}


.dropbtn:hover {
    color : blue;
}

.dropdown {
    display: block;
    overflow: scroll;
}

.dropdown-content {
    font-family: 'Mono';
    font-size: 4vh;
  display: none;
  z-index: 1;
}

.dropdown-content p {

  text-decoration: none;
}

.dropdown-content p1:hover {
    color: blue;
}

.show {
    display:inline;
}

#cover {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 35%; 
    margin-left: 55%;
    transition: transform 0.2s;
}
#cover:hover{
   transform: scale(0.9);
}


div.gallerypackshot {
  display: block;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}
div.gallerypackshot img {
  width: 25%;
    transition: transform .2s;
}
div.gallerypackshot img:hover {
  transform: scale(0.9);
}

#logo:hover{
    display: none;
}

#logo2{
    display: none;
}

#logo:hover + #logo2{
  display: block;
position: fixed;
}

.input:hover{
    color: black;
    text-decoration-line: overline;
    cursor: cell;
}
